@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    font-weight: 600;
    position: relative;
}

.active::after {
  content: '';
  position: absolute;
  bottom: -3px; 
  left: 0;
  width: 100%;
  height: 4px; 
  background-color: #2563eb; 
  padding: 0 5px;
}
